html,
body {
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#allTheLocationsDisplayed {
  row-gap: 20px;
}

#allTheLocationsDisplayed div {
  font-size: larger;
  border-radius: 15px;
  padding: 1.5rem;
}

.addingUnderline {
  text-decoration-line: underline;
  font-size: 1.5rem;
}

.navUnitsDiv {
  align-self: flex-end;
}

#UserWeatherAndSearchBar {
  height: 30vh;
}

#dropdownLi {
  margin-right: 1.5rem;
}

#searchBtn,
#searchBarInput {
  border: none;
  border-right-width: 0;
  border-radius: 0;
  background: rgba(55, 199, 228, 1) 100%;
  color: white;
}

.navBg {
  background: rgb(74, 75, 221);
  background: linear-gradient(
    90deg,
    rgba(74, 75, 221, 1) 36%,
    rgba(55, 199, 228, 1) 100%
  );
}

#UserWeatherAndSearchBar {
  background: rgb(74, 75, 221);
  background: linear-gradient(
    270deg,
    rgba(74, 75, 221, 1) 36%,
    rgba(55, 199, 228, 1) 100%
  );
}

#allTheLocationsDisplayed {
  padding: 2rem;
  background: rgb(74, 75, 221);
  background: linear-gradient(
    90deg,
    rgba(74, 75, 221, 1) 36%,
    rgba(55, 199, 228, 1) 100%
  );
}

input#searchBarInput {
  background-image: url(/assets-icons/search-svgrepo-com1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  color: transparent;
  text-indent: 20px;
  transition: color 0.3s ease, background-image 0.3s ease;
}
#searchBarInput:focus {
  outline: none;
  color: white; /* Show the text when input is focused */
  background-image: none;
}

#searchBarInput:not(:focus):placeholder-shown {
  color: transparent; /* Keep the text color transparent when input is not focused and empty */
  background-image: url(/assets-icons/search-svgrepo-com1.svg); /* Show the background image when input is empty */
}

#searchBarInput:not(:focus):not(:placeholder-shown) {
  color: white; /* Show the text when input is not focused and has content */
}

/* The hamburger button appears upon going under 1000px, and I wanted a gap b/w the units buttons when this query is true and remember these were set to be flex-row.*/

@media screen and (max-width: 999px) {
  .myAnchorAndDropD {
    width: fit-content;
  }

  #UserWeatherAndSearchBar {
    flex-direction: column;
  }
}
