/******************************************************************************
 ***
 * WEB422 – Assignment 1
 * I declare that this assignment is my own work in accordance with Seneca Academic Policy.
 * No part of this assignment has been copied manually or electronically from any other source
 * (including web sites) or distributed to other students.
 *
 * Name: Harkaran Singh Khaira Student ID: 170321210 Date: 28/05/2024
 *
 *
 ******************************************************************************
 **/

html,
body {
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#allTheLocationsDisplayed {
  flex-grow: 1;
  row-gap: 20px;
}

#allTheLocationsDisplayed div {
  font-size: larger;
  border-radius: 15px;
  padding: 1.5rem;
}

.addingUnderline {
  text-decoration-line: underline;
  font-size: 1.5rem;
}

.navUnitsDiv {
  align-self: flex-end;
}

#UserWeatherAndSearchBar {
  height: 30vh;
  flex-shrink: 0;
}

#dropdownLi {
  margin-right: 1.5rem;
}

#searchBtn,
#searchBarInput {
  border: none;
  border-right-width: 0;
  background: rgba(55, 199, 228, 1) 100%;
  color: white;
}

#searchBarInput {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#searchBtn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#userLocationWeather {
  background: rgb(0, 134, 244);
  width: 22rem;
  border-radius: 3px;
}

.navBg {
  background: rgb(74, 75, 221);
  background: linear-gradient(
    90deg,
    rgba(74, 75, 221, 1) 36%,
    rgba(55, 199, 228, 1) 100%
  );
}

#UserWeatherAndSearchBar {
  background: rgb(74, 75, 221);
  background: linear-gradient(
    270deg,
    rgba(74, 75, 221, 1) 36%,
    rgba(55, 199, 228, 1) 100%
  );
}

#allTheLocationsDisplayed {
  padding: 2rem;
  background: rgb(74, 75, 221);
  background: linear-gradient(
    90deg,
    rgba(74, 75, 221, 1) 36%,
    rgba(55, 199, 228, 1) 100%
  );
}

#pageNav {
  background: rgb(74, 75, 221);
  background: linear-gradient(
    90deg,
    rgba(74, 75, 221, 1) 36%,
    rgba(55, 199, 228, 1) 100%
  );
  font-size: 2rem;
  column-gap: 1rem;
}

#nextPage,
#prevPage {
  background-color: #0086f4;
  border: none;
  border-radius: 3px;
  column-gap: 2rem;
  color: white;
}

input#searchBarInput {
  background-image: url(/assets-icons/search-svgrepo-com1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  color: transparent;
  text-indent: 20px;
  transition: color 0.3s ease, background-image 0.3s ease;
}
#searchBarInput:focus {
  outline: none;
  color: white; /* Show the text when input is focused */
  background-image: none;
}

#searchBarInput:not(:focus):placeholder-shown {
  color: transparent;
  background-image: url(/assets-icons/search-svgrepo-com1.svg);
}

#searchBarInput:not(:focus):not(:placeholder-shown) {
  color: white;
}

/* The hamburger button appears upon going under 1000px, and I wanted a gap b/w the units buttons when this query is true and remember these were set to be flex-row.*/

@media screen and (max-width: 999px) {
  .myAnchorAndDropD {
    width: fit-content;
  }

  #UserWeatherAndSearchBar {
    display: flex;
    flex-direction: column !important;
    flex-shrink: 0;
  }

  #UserWeatherAndSearchBar {
    height: auto;
    flex-shrink: 0;
  }

  #userLocationWeather {
    margin: 30px;
  }

  #searchBar {
    margin: 20px;
  }
}
